DISCORD_TOKEN=YOUR_TOKEN
DISCORD_CLIENT_ID=YOUR_CLIENT_ID
DISCORD_CLIENT_SECRET=YOUR_CLIENT_SECRET
LAVA_IP=127.0.0.1
LAVA_PORT=3000
LAVA_PASS=NOTYOURBUSINESS

## YOU CAN GET THIS ON DISCORD DEVALOPER
https://discord.com/developers/applications